nav{
    background: #FFE5B6;
}

.card-img-kopi{
    display: block;
    width: 100%; /* Gambar akan mengisi lebar kartu */
    height: 140px; /* Tetapkan tinggi gambar */
    /* border-radius: 10px; */
    object-fit: cover;
}

.cart-item{
    width:342px;
    height: 154px;
    gap: 0px;
    border-radius: 10px;
    border: 1px;
    opacity: 0px;
    border: 1px solid #D9D9D9
}

.grid-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); /* Menggunakan grid untuk menyesuaikan kartu dengan ukuran layar */
    width: 100%;
    justify-items: center; /* Pusatkan item di dalam grid */
    grid-row-gap: 20px
}

.card{
    /* padding: 10px; */
    border-radius: 8px;
    /* width: 100%; */
    width: 160px; /* Maksimum lebar kartu */
    height: auto; /* Kartu akan menyesuaikan tinggi gambar */
    background: #ffffff;
    /* background: #ececec; */
}


@media screen and (min-width: 522px) {
    .grid-card {
        width: 80%;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .card{
        width: 200px; /* Maksimum lebar kartu */
        height: auto; /* Kartu akan menyesuaikan tinggi gambar */
        background: #ffffff;
    }
}

/* @media screen and (min-width: 768px) {
    .grid-card {
        width: 80%;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }

    .card{
        border-radius: 8px;
        width: 160px; 
        height: auto; 
        background: #ffffff;
    }
} */



/* .grid-card{
    display: flex;
    justify-content: center;
}

.card{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 260px;
    height: 470px;
    background: #ececec;
}

.card-img-kopi{
    display: block;
    width: 260px;
    height: 220px;
    margin: 0 auto;
    border-radius: 10px;
    object-fit: cover;
} */

